<footer>
    <div class="footerCont">
        <div class="allText">
            <a href="a">&copy; 2026 Airbnb, Inc.</a>
            <div class="right-vertical"></div>
            <a href="a">Privacy</a>
            <div class="right-vertical"></div>
            <a href="a">Terms</a>
            <div class="right-vertical"></div>
            <a href="a">Company Details</a>
        </div>

        <div class="allLogo">
            <div class="allLogo-eng">
                <i class="fa-solid fa-globe"></i>
                <p style="margin-bottom: .25rem;">English (IN)</p>
            </div>
            <div class="allLogo-inr">
                <p style="margin-bottom: .25rem;">&#8377; INR</p>
            </div>

            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</footer>