<div class="navCont">
    <div class="logo">
        <a href="/allList">
            <img class="logoimg" src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/1/airbnb-9xpw4kf7zr9850h17qznf.png/airbnb-4rfqv9z0up9auj6x43g07v.png?_a=DATAiZAAZAA0">
        </a>
    </div>

    <div class="searchBar">
        <div class="home">
            <a href="/allList">
                <p style="font-size: 1.27rem; margin: 1rem 0rem;">Home</p>
            </a>
        </div>
        <div class="allList">
            <a href="/allList">
                <p style="font-size: 1.27rem; margin: 1rem 0rem;">All List</p>
            </a>
        </div>
        <div class="addNewList">
            <a href="/allList/new">
                <p style="font-size: 1.27rem; margin: 1rem 0rem;">Add new List</p>
            </a>
        </div>
    </div>

    <div class="login-logout">
        <% if(!isLoginUser){ %>
            <div class="menu">
                <a href="/signup"><i class="fa-solid fa-user"></i></a>
            </div>
        <% } %>
        <% if(isLoginUser){ %>
            <div class="menu" style="margin-left: .5rem;">
                <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        <% } %>
    </div>
    
</div>