<% layout("/layouts/boiler") %>

<div class="alert alert-danger col-8 text-center mt-4 mx-auto" role="alert">
    <p><%= message %></p>

    <a href="/allList" class="btn btn-dark mt-2">
        Back
    </a>
</div>