<% layout("/layouts/boiler") %>

<div class="signup-container" style="margin-top: -2rem;">
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <!-- Image Section -->
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
            </div>

            <!-- Form Section -->
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="POST" action="/signup" novalidate class="needs-validation">
                    <h3 style="color: #EA4335";>Welcome To WanderLust!</h3>

                    <!-- Email Input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email address</label>
                        <input name="email" type="email" required id="form3Example3" class="form-control form-control-lg"placeholder="Enter a valid email address">
                        <div class="invalid-feedback">Enter valid email</div>
                    </div>

                    <!-- username Input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Username</label>
                        <input name="username" type="text" required id="form3Example3" class="form-control form-control-lg"placeholder="Enter a valid username">
                        <div class="invalid-feedback">Username already taken</div>
                    </div>

                    <!-- Password Input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Password</label>
                        <input name="password" type="password" required id="form3Example4" class="form-control form-control-lg"placeholder="Enter password">
                        <div class="invalid-feedback">Enter valid password</div>
                    </div>

                    <!-- Remember + Forgot -->
                    <!-- <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" id="form2Example3">
                            <label class="form-check-label" for="form2Example3">Remember me</label>
                        </div>
                    </div> -->

                    <!-- Submit -->
                    <div class="text-center text-lg-start mt-4 pt-2" style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="submit" class="btn btn-danger btn-md" style="padding-left: 1rem; padding-right: 1rem;"><b>Sign UP</b></button>
                         <p style="margin: 0;">Already have account<a href="/login"><button type="button" class="btn btn-primary btn-md" style="padding-left: 1rem; padding-right: 1rem; margin-left: .5rem;"><b>Login</b></button></p></a>
                    </div>


                    <!-- Divider -->
                    <div class="d-flex align-items-center my-4">
                        <hr class="flex-grow-1 border-dark">
                        <span class="mx-3 fw-bold">Or</span>
                        <hr class="flex-grow-1 border-dark">
                    </div>


                    <!-- Social Login -->
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3" style="margin-right: 0.2rem !important;">Register --></p>
                        <button type="button" class="btn btn-floating mx-1" style="background-color: #1877f2; color: white;"><span style="background-color:#1877F2; color: white;">Facebook</span></button>
                        <button type="button" class="btn" style="border: 1px solid black; margin-left: .3rem;">
                            <span style="height: auto; width: auto;">
                                <span style="color:#4285F4;">G</span>
                                <span style="color:#EA4335;">o</span>
                                <span style="color:#FBBC05;">o</span>
                                <span style="color:#4285F4;">g</span>
                                <span style="color:#34A853;">l</span>
                                <span style="color:#EA4335;">e</span>
                            </span>
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
</div>